<% provide(:title, @user.name) %>
<div class='row'>
  <aside class='col-md-4'>
    <section class='user_info'>
      <h1>
        <%= gravatar_for @user.name, @user.email %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class='col-md-8'>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class='microposts'>
        <%= render @microposts %>
      </ol>

      <%# NOTE: user_path requires id hash, whereas users_path doesn't %>
      <%# So, we need params option for testing will_paginate render in view spec. %>
      <%# Don't be confused that Controller spec succeeds whether params option or not. %>
      <%# That is because the request `GET :show` requires id hash before actual rendering. %>
      <%# See also controllers/users_controller.rb! %>
      <%= will_paginate @microposts, params: { id: @user.id } %>
    <% end %>
  </div>
</div>
